[2020-03-25 05:52] navin-moorthy opened #1 "[RFC] Base Components"
## Introduction
I hope everyone has got an idea about what we are going to build with Chakra. As a starter, we will be building some base components from the next app that we are going to build. Later we will improve and evolve our component library.

## List of Base Components
- Box
- Flex
- Button
- Text
- Image
- Icon
- Avatar
- Badge
- Search Input
- Dropdown
- Pagination

## Rules
- Finalize

[2020-03-25 05:59] SamrithaS opened #2 "React Boilerplate"
We are using [React Boilerplate](https://github.com/react-boilerplate/react-boilerplate) as a boilerplate because it has webpack.config for prod and development exposed which helps customizations

[2020-03-25 05:59] prasanna1211 commented on #1
@navin-moorthy  List of components looks fine to me. I feel any of the components in design can be achieved by composing from these set. Can you sort them as per the difficulty so that we can create RFC one by one ?

[2020-03-25 06:13] navin-moorthy commented on #1
@prasanna1211 I have made the changes, kindly check.

[2020-03-25 06:15] SamrithaS commented on #2
we are using [https://github.com/react-boilerplate/react-boilerplate](url) as a boiler plate because it has webpack.config for prod and development exposed which helps customizations

[2020-03-25 06:21] prasanna1211 commented on #2
Test

[2020-03-25 06:22] prasanna1211 commented on #2
Who is taking up this issue ? Please assign themselves.

**Responsiblities**: Should include that boilerplate with proper `.gitignore` and push it in a new branch + Raise a PR.

[2020-03-25 06:24] prasanna1211 commented on #1
@govindsingh55 and @SamrithaS  Have you verified this ? I would suggest you to confirm if these components are good enough for the start.

[2020-03-25 06:25] SamrithaS commented on #1
yes I've verified it and its great

[2020-03-25 06:25] navin-moorthy commented on #2
I will assign it to myself and add proper .gitignore

[2020-03-25 06:26] prasanna1211 commented on #1
@navin-moorthy  I think these four points should be rules rather than the Action Items itself.

- Finalize on the components that we are going to build.
-  Assign each component and build on a separate branch.
-  Once done create a PR to merge with development branch with reviewers.
-  Push only the most stable version to master branch with reviewers.

[2020-03-25 06:28] prasanna1211 commented on #1
Also Components should have checkbox rather than action items so that it is easy to identify which ones are completed. Also RFCs associated with it can be edited as and when we create one so that everything can be trackable from here.

[2020-03-25 06:28] govindsingh55 commented on #1
these components are good to start.

[2020-03-25 06:32] navin-moorthy commented on #1
@prasanna1211 Action Items will have the components step by step work instead of changing in the list with introduction.

[2020-03-25 06:36] prasanna1211 commented on #1
I think it is better to add benchmarking libraries here. I would suggest [PriceLine design system](https://priceline.github.io/design-system/) for its composability,
[Polaris shopify](https://polaris.shopify.com/components/actions/setting-toggle#navigation) for the storybook

1. So storybook will be the interface where we will be giving a demo of the components.
2. We will create another repo for

[2020-03-25 06:48] navin-moorthy commented on #1
I will research on the other benchmark libraries in our free time. Since then we can follow **PriceLine**.
@govindsingh55 @SamrithaS your thoughts on this?

[2020-03-25 06:50] prasanna1211 commented on #1
@navin-moorthy Yes we can do that in individual component  RFCs.

[2020-03-25 06:52] SamrithaS commented on #1
@navin-moorthy  yes, we can follow **PriceLine**

[2020-03-25 06:54] govindsingh55 commented on #1
@navin-moorthy  **Priceline** is Good.

[2020-03-25 06:55] prasanna1211 commented on #1
Yes, but a bit old. Dot notation won't be available I think but we can adopt it.

[2020-03-25 07:36] prasanna1211 commented on #1
@samritha Can you take text before button ? Since text is a dependency for button. @navin-moorthy  can you change the order in the list ?

[2020-03-25 07:37] SamrithaS commented on #1
sure, I'll do that

[2020-03-25 07:43] navin-moorthy commented on #1
@prasanna1211 shall I work on Button? Since Box and Flex are related @govindsingh55 is working on it, your thoughts on this.

[2020-03-25 07:44] prasanna1211 commented on #1
upto you people. Box, Flex, Button and Text is our initial set. Do as you wish.

[2020-03-25 07:45] govindsingh55 opened #4 "[RFC] Box component"
### Introduction
  it will provide a container with some basic default properties

### Props
- width
- height
- color
- bg
- m
- mt
- mb
- mr
- ml
- mx
- my
- p
- pt
- pb
- pr
- pl
- px
- py
- position
- top
- bottom
- left
- right
- va
- ha

### Default Props
 - position = "relative"

[2020-03-25 07:45] prasanna1211 commented on #1
If pull request is open for anything mention it in the RFC status. same for merging too.

[2020-03-25 07:48] prasanna1211 commented on #1
Add more infra: [Commitzen](https://github.com/commitizen/cz-cli), [All contributors](https://github.com/all-contributors/all-contributors)

[2020-03-25 07:54] SamrithaS opened #5 "[RFC] Text Component"
**Introduction**
Text is used to render text and paragraphs within an interface. Text is derived from` Box `component as a paragraph `<p>` and it can take all styles that `Box` does

**Props**

- fontSize
- fontFamily
- Color
- fontWeight
- lineHeight
- letterSpacing
- textAlign
- fontStyle
- textTransform
- textDecoration
- m
- mt
- mb
- mr
- ml
- mx
- my
- p
- pt
- pb
- pr
- pl
- px
- py
- va
-

[2020-03-25 07:55] prasanna1211 commented on #4
Few points to discuss:

1. Will there be a dot notation ? If so for what properties (I guess `Box.relative` / `Box.absolute`)
2. One thing that I noticed at many places we find it difficult to position something that must have been done easily like

[code]
or any other better syntax would do. End goal should be something that is easy to make the box positioned.
3. What are the style props that are

[2020-03-25 07:58] prasanna1211 commented on #4
@govindsingh55  Description needs to be little better.

1. Should include what HTML dom element it will render.
2. Mention about overriding as in chakra.
3. When to use Box (May be say when to use <Flex /> and when to use <Box />

[2020-03-25 08:00] navin-moorthy commented on #4
@govindsingh55 Since we are following PriceLine design system, do we need all those position, top, bottom? They are not exposed in Priceline

[2020-03-25 08:00] prasanna1211 commented on #5
as per chakra, Text is a dependency of box and rendered as p tag. Read [this](https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Text/index.js)

[2020-03-25 08:02] prasanna1211 commented on #4
Priceline is only the benchmark. We can take in the best things but not only limited to it. We must also include whatever problems that we generally face in terms of readability and positioning.

[2020-03-25 08:03] SamrithaS commented on #5
@prasanna1211  okay read it, Is there any change that I should impose in this RFC?

[2020-03-25 08:04] navin-moorthy commented on #4
If thats the case, see the [Chakra Box Component](https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Box/index.js) has some the styled system style props and some custom

[2020-03-25 08:07] prasanna1211 commented on #4
We can stick with the props of chakra unless we don't something that is missing. But definitely add if they are missing something. (which can be done later too).

[2020-03-25 08:08] prasanna1211 commented on #5
No. Box component becomes a dependency for this. So lets wrap Box, then Text then Button.

[2020-03-25 08:14] navin-moorthy commented on #5
Is Button built on top of Box and Text?
Why can't this be a separate one? In chakra it is built on top of PseudoBox.

[2020-03-25 08:17] prasanna1211 commented on #5
Primarily to commonize props. So any component that uses box will have same prop definitions throughout. They have Box as lower level primitive. Box has 'as' props which gives flexiblity to render it as anything.

[2020-03-25 08:18] prasanna1211 commented on #5
But for us we are going to use their Text component. We just need to wait till box is completed. After which we can use their text (understand their code first) to create our own.

[2020-03-25 08:19] navin-moorthy commented on #5
Okay, this means we should wait until Box component is built for use.

[2020-03-25 08:19] prasanna1211 commented on #5
Yes.

[2020-03-25 08:26] navin-moorthy opened #6 "Install Commitizen"
Making our repo [commitizen](http://commitizen.github.io/cz-cli/) friendly

[2020-03-25 08:26] navin-moorthy commented on #6
@prasanna1211 Commitizen is something new.
Do we need to make our repo Commitizen friendly now.

[2020-03-25 08:27] prasanna1211 commented on #6
Yes @SamrithaS  has used it before I think. Helps in reading commits well. A good tool to go with.

[2020-03-25 10:16] govindsingh55 commented on #4
we can stick with chakra box component props.
do we need the **as** prop.
And dot notation limit the reposiveness. chakra is doing well with responsiveness

[2020-03-25 10:17] prasanna1211 commented on #4
`as` is a chakra prop.

[2020-03-25 10:17] prasanna1211 commented on #4
Using `as` many other component has used Box itself so that the props are common across everywhere.

[2020-03-25 10:20] govindsingh55 commented on #4
**as** used to change the html dom change. by default box renders `<div></div>`, if we want to render `<article></article>`  we need to pass as="article".

[2020-03-25 10:23] prasanna1211 commented on #4
Yes, we cannot create every other component like h1, h2, h3 ... p, span which is why they have brought in the as prop. You can see the box being used as P tag in their component itself [here](https://github.com/chakra-ui/chakra-ui/blob/master/packages/chakra-ui/src/Text/index.js).

[2020-03-25 10:24] prasanna1211 commented on #4
Also you cannot use <p> <span> anymore since those needs the styling too as the same way as we do with chakra components.

[2020-03-25 10:36] govindsingh55 commented on #4
how about this, expose the box component as it is, but create some predefined version of box like FlexBox and expose them from the same file.

So It will be upto the developer that he want to use predefined one or simple Box component.

[2020-03-25 10:38] prasanna1211 commented on #4
By as it is do you mean expose all the props by chakra ?
I didn't get your intent. May be can you explain it in detail ?

Yes we are going to do this, but we need to draw boundaries clearly.

[2020-03-25 10:44] govindsingh55 commented on #1
from our component, we will expose Box component which will expose the all prop of chakra Box component, but we also expose the FlexBox component which will have prop like {isVisible, isInline, etc.}

[2020-03-25 10:44] govindsingh55 commented on #4
from our component, we will expose Box component which will expose the all prop of chakra Box component, but we also expose the FlexBox component which will have prop like {isVisible, isInline, etc.}

[2020-03-25 10:45] #6 closed

[2020-03-25 10:46] #2 closed

[2020-03-25 10:47] prasanna1211 commented on #4
We are doing the same.

My answer to your question

Yes we need. Reason: How will the users use P or SPAN tag

@SamrithaS @navin-moorthy  can you answer ?

[2020-03-25 10:48] prasanna1211 commented on #6
@SamrithaS  @govindsingh55  Refer this PR: Before closing mention the PR which solved it.

[2020-03-25 10:51] SamrithaS commented on #4
dot notation is used for accessing properties of objects right?

[2020-03-25 11:01] prasanna1211 commented on #4
Something like `<Box.relative />` `<Box.absolute />`

Even if it is not there I believe atleast for positioning (absolute, relative) something is needed.
(or)
this API is the ideal one I would prefer

[code]

This would place a button on the bottom right
va and ha for aligning left and right.

Any thoughts on this ?

@navin-moorthy @govindsingh55 @SamrithaS

[2020-03-25 11:08] SamrithaS commented on #4
That's great

[2020-03-25 11:10] govindsingh55 commented on #4
dot notation should be used for the sub-component {modal, modal.header, modal.content, modal.footer} instead of passing the props.

[2020-03-25 11:11] navin-moorthy commented on #4
Yeah, that will remove the styling because we want others only to use the dot notation in most cases which will make someone new to use these components easily.

[2020-03-25 11:17] navin-moorthy commented on #4
But for the Box component like `Box.relative` & `Box.absolute` is not needed I guess.
Like Example incase of `Flex with align-items: center` and `justify-content: center` we can use `<Flex.center><Flex.center>

Other's thought?

[2020-03-25 11:20] prasanna1211 commented on #4
@navin-moorthy How about va and ha as prop ?

[2020-03-25 11:28] navin-moorthy commented on #4
va - vertical align, ha - horizontal align?

Exposing as props is a good for a single style is like an alias.
We can use dot notation where we achieve a layout with multiple styles IMO

[2020-03-25 11:32] navin-moorthy opened #8 "Remove Github Pull Request Template"
Since creating a new Pull Request makes React Boilerplate template to show up in new PR

[2020-03-25 11:35] prasanna1211 commented on #4
ok then can we add it to props @govindsingh55  @SamrithaS  ?

[2020-03-25 11:38] govindsingh55 commented on #4
adding va nad ha

[2020-03-25 11:39] SamrithaS commented on #4
sure

[2020-03-25 11:39] govindsingh55 commented on #4
what about the dot notation ?

[2020-03-25 11:40] prasanna1211 commented on #4
I feel then dot notation is not needed. Props alone is enough to start the component with. Can we change the status of the RFC to active state and start working on the component ?

[2020-03-25 11:41] prasanna1211 commented on #4
Assign a label. That should be good enough. For everything other RFC mark needs clarity as a label.

[2020-03-25 13:12] #8 closed

[2020-03-25 13:27] navin-moorthy opened #10 "Add All Contributors"
We will be adding [All Contributor Bot](https://allcontributors.org/) to organize our contributors

Read the [All Contributors Docs](https://allcontributors.org/docs/en/overview) to get an overview on how to install the bot and use them

[2020-03-25 13:28] navin-moorthy commented on #10
@all-contributors please add @navin-moorthy for code

[2020-03-25 13:35] navin-moorthy commented on #10
@prasanna1211 All-Contributors is by default raising pull-request to only `master` branch.
Is it okay to merge this in master?
I checked on this issue - there is already an [issue](https://github.com/all-contributors/all-contributors-bot/issues/243) for this.

[2020-03-26 04:07] prasanna1211 opened #12 "Add story book"
Would prefer [storybook](https://storybook.js.org/) library.

1. Should be able to import and show demo of the component
2. Should be able to custom style the component (preferably using our components).

[2020-03-26 04:07] prasanna1211 commented on #10
Yes merge with master.

[2020-03-26 04:41] navin-moorthy commented on #10
@all-contributors please add @govindsingh55 for code

[2020-03-26 04:41] navin-moorthy commented on #10
@all-contributors please add @SamrithaS for code

[2020-03-26 04:42] navin-moorthy commented on #10
@all-contributors please add @prasanna1211 for review

[2020-03-26 04:56] #10 closed

[2020-03-26 05:53] govindsingh55 commented on #4
@prasanna1211  as we discussed the **va** and **ha** props, any reference for these props

[2020-03-26 05:56] prasanna1211 commented on #4
Reference ?

[2020-03-26 06:02] navin-moorthy opened #16 "[RFC] Checkbox Component"
# Introduction

We will start writing the basic Checkbox from Chakra UI and start building on this later one by one.

## Checkbox to be built

![image](https://user-images.githubusercontent.com/39694575/77746768-77029880-7043-11ea-9c1d-e6a371fcb733.png)

## Initial Steps

- [x] Created a [checkout branch](https://github.com/timelessco/chakra-components/commits/checkbox) to work on this issue.
- [x

[2020-03-26 06:04] govindsingh55 commented on #4
there are many ways to center the div [How to center things with style in CSS](https://www.freecodecamp.org/news/how-to-center-things-with-style-in-css-dc87b7542689/)

[2020-03-26 06:09] prasanna1211 commented on #4
I think we should be clear between positioning and aligning. (Sorry if I had a bad example to call it centered).
By `va` I just want to position on bottom, left, right, top based on absolute or relative position. Making it center would use Flex. May be change of prop name to 'vp' and 'hp' may be @navin-moorthy  ? Basically   with the intended notation it should be simple enough to position in a la

[2020-03-26 06:09] prasanna1211 commented on #16
What are the props that we are going to provide ?

[2020-03-26 06:19] navin-moorthy commented on #16
We will eventually provide props, first, let's get started with just wrapping around the Checkbox component and improve step by step.

[2020-03-26 06:19] SamrithaS commented on #16
my thoughts on what props could be are:
- color of the checkbox
- icon of the checkbox
- number/names of items that are selected
- onClick / onSelected function
- styles like bg, fontColor, fontSize for selected state and unselected ones

thoughts on this? @prasanna1211 @navin-moorthy @govindsingh55

[2020-03-26 06:22] navin-moorthy commented on #16
yeah, we will add all these props after deciding on which value all these props will take.

[2020-03-26 06:22] prasanna1211 commented on #16
@SamrithaS  can you elaborate on
Color ? Background or border ?
Icon ? icon before (or) after. Also why a checkbox needs an icon ?
Checkbox always has only one state. Selected / not selected. Only checkbox group has selected items.
Difference between onClick and onSelect ?
For style there is something called as styled props for chakra. Can you refer to it ?

[2020-03-26 06:24] prasanna1211 commented on #16
Existing props are in here: https://chakra-ui.com/checkbox, may be compiling from this becomes easy.

[2020-03-26 06:27] navin-moorthy commented on #16
Yeah, I will start off with a new branch and the component to refer and by reviewing it we all can get an idea on what we are going to do with Checkbox.

[2020-03-26 06:29] SamrithaS commented on #16
- by color I meant bg as well as border,
- Icon can be customized right? If we'd want a change in Icon rather than a tick mark
- number/names of items that are selected is a property of checkbox group
- referring to styled props

[2020-03-26 06:33] prasanna1211 commented on #16
@SamrithaS  you can look into this https://chakra-ui.com/checkbox too. Basically what we are going to do is, for our checkbox component we are going to add few styling and missing functionalities like effects / animations and required props. So that when we render just <Checkbox /> it comes out with a pleasing styles.

[2020-03-26 07:54] navin-moorthy commented on #16
@govindsingh55 @SamrithaS Let's first do not expose any prop from our component.
We will discuss and fix the base styles from the sketch file and create the base component.

In the example on above PR, I created a red varient Checkox, which we are going to change to match the app styles.

Any thoughts?

[2020-03-26 07:56] SamrithaS commented on #16
yes, we can proceed by matching the styles

[2020-03-26 10:18] navin-moorthy commented on #16
@govindsingh55 @SamrithaS You can pull [this](https://github.com/timelessco/chakra-components/tree/checkbox) and continue working on this component based on our decisions.
Next thing, we can include

![image](https://user-images.githubusercontent.com/39694575/77635297-59b4c800-6f78-11ea-8c4b-c441ef449bde.png)

## `variantColor = #31a9d8` to our checkbox.

In order to add the variant color, we need

[2020-03-26 10:21] navin-moorthy commented on #16
Anyone can find a way to add `Inter font-family` to our project and since our app requires it.
Also, comment on how you are going to implement it.

[2020-03-26 10:23] SamrithaS commented on #16
I'll do it

[2020-03-26 10:24] navin-moorthy commented on #16
@govindsingh55 Please take this and let us know your thoughts.

[2020-03-26 10:28] navin-moorthy commented on #16
Also we need to find a way to over-write the default checkbox border to match the below style when not checked.

Default chakra style,

Also we need to find a way to over-write the default checkbox border to match the below style when not checked.

Default chakra style,
![image](https://user-images.githubusercontent.com/39694575/77636474-2f640a00-6f7a-11ea-9be5-60f4c6c6c2ad.png)

Our component sty

[2020-03-26 10:28] SamrithaS commented on #16
sure, I'll let you know

[2020-03-26 10:36] navin-moorthy commented on #16
Since @govindsingh55  is away, I will take this and proceed with this implementation steps.

[2020-03-26 10:55] navin-moorthy commented on #16
In order to create our own custom checkbox, we will need to refractor our use of Chakra Checkbox to use [Chakra Control Box](https://chakra-ui.com/controlbox)

- Add [Inter Font link](<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />) to our index.html
- Add below snippet to theme.js to use the Font Family across our app

[code]
- Add `<CSSReset />` with `import { ThemeProvider, CSS

[2020-03-26 12:22] navin-moorthy commented on #16
@SamrithaS Look at the [sketch file](https://www.dropbox.com/s/33ugiekz2dpff6l/lineups-dam-final-screens.sketch?dl=0) to find border styles - border color, border width, border radius
Also look at the chakra [Control Box] control box to find a way to change our Checkbox styles like the steps above.

[2020-03-26 12:31] SamrithaS commented on #16
working on the border, could you tell me if this colour `#919494` should be fine?

[2020-03-26 12:45] navin-moorthy commented on #16
Since you don't have sketch, I will say the specifications,

borderColor - #8C8D8E
borderWidth - 1.5px
borderRadius - Not accurate, lets fix at 25% as per sketch

[2020-03-26 12:46] SamrithaS commented on #16
great, thanks

[2020-03-27 05:32] navin-moorthy commented on #16
@govindsingh55 Kindly work implementation step for adding check icon from our [sketch file](https://www.dropbox.com/s/33ugiekz2dpff6l/lineups-dam-final-screens.sketch?dl=0) to our Checkbox using theme.js and change the chakra icon since it is different one.

[2020-03-27 05:39] navin-moorthy commented on #16
After adding the icon, we will finalize the hove, focus & active styles.
Once all the styles are done, we can work on the props one by one based on the difficulty

[2020-03-27 05:40] SamrithaS commented on #16
Steps to add the Border styles:

**theme.js** contains:
` checkbox: {
      borderColor: '#8C8D8E',
    },`

and **Checkbox/index.js** contains:
`   <ControlBox
        borderWidth="1.5px"
        size="14px"
        borderColor="checkbox.borderColor"
        rounded="md"
        _checked={{ bg: 'brand.500', color: 'white', borderColor: 'brand.500' }}

        <Icon name="check" size="10px" />

[2020-03-27 06:03] navin-moorthy commented on #16
Based on research, it seems our checkbox doesn't need any active and hover styles.
So we will be only adding the focus styles
`_focus={{ boxShadow: 'outline' }}`

Any thoughts?

[2020-03-27 06:15] navin-moorthy commented on #16
Just now noticed in the sketch file, we need to change the ml for our Children Box should be `ml={2}` instead of 3

[2020-03-27 06:15] SamrithaS commented on #16
I'll do it

[2020-03-27 06:26] navin-moorthy commented on #16
@SamrithaS We can decide on all the props that we are going to expose from our component since @govindsingh55 is now working on adding the Icon.

[2020-03-27 06:28] SamrithaS commented on #16
okay, what's your suggestion on the props?

[2020-03-27 06:28] navin-moorthy commented on #16
Initial thoughts for checkbox props are,
- onBlur
- onChange
- onFocus
- isChecked
- disabled

[2020-03-27 06:29] navin-moorthy commented on #16
Any other props you feel, we can add it to the top description based on your discussion

[2020-03-27 06:30] SamrithaS commented on #16
This seems fine, let's start working on it, and add later if we need more

[2020-03-27 06:33] navin-moorthy commented on #16
Sure, can you work on adding disabled first and I will say the styles for that.

[2020-03-27 06:33] SamrithaS commented on #16
sure

[2020-03-27 06:35] navin-moorthy commented on #16
Seems there is hover style for our checkbox, I will work on adding it.
![image](https://user-images.githubusercontent.com/39694575/77728773-372bb900-7023-11ea-8cd2-7667bfe3734d.png)

Add Hover styles as
[code]

[2020-03-27 07:14] navin-moorthy commented on #16
Based on the comment from Sandeep, we are going to change our Inter Font Family from primary one to Google Fonts which is more performant

`<link href="https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">`

[2020-03-27 07:24] navin-moorthy commented on #16
@govindsingh55 Please add the steps on how you are implementing, so that we all can agree and do the commit. This will be useful for issue reference

[2020-03-27 09:40] SamrithaS commented on #16
@navin-moorthy Can you tell me the styles for disabled?

[2020-03-27 10:01] navin-moorthy commented on #16
@SamrithaS the disable state - borderColor: "#E7E8E9" fontColor: "#CACBCC"

[2020-03-27 10:11] navin-moorthy commented on #16
I will proceed to add the Icon only to our checkbox and decide on the props later,

[code]

- Add the name to the checkbox `<Icon name="customCheck" size="10px" />`

We can add the props after deciding.

[2020-03-27 10:48] navin-moorthy commented on #16
I have listed all props that we are going to expose as per Sandeep's comment

`Make sure we've all the existing props from chakra surfaced.`

We can add additional props anytime.

[2020-03-27 10:55] SamrithaS commented on #16
steps for disabled props:

**Homepage/index.js** contains

[code]

**checkbox/index.js** contains

[code]

[2020-03-27 11:02] govindsingh55 commented on #16
style is messing a bit check svg is being visible try to run it

[2020-03-27 11:07] navin-moorthy commented on #16
Add the cursor = not allowed when isDisabled

[2020-03-27 11:08] navin-moorthy commented on #16
For me, everything looks fine, check svg is not visible after passing isDisabled props.
Can you confirm agian.

![image](https://user-images.githubusercontent.com/39694575/77750198-648b5d80-7049-11ea-8a66-7a4f0310c4a2.png)

[2020-03-27 11:09] SamrithaS commented on #16
I'll do it

[2020-03-27 11:09] navin-moorthy commented on #16
Doesn't any one get this linting error, while reproducing the above code?

![image](https://user-images.githubusercontent.com/39694575/77750316-8c7ac100-7049-11ea-97e7-be3f1b57472c.png)

Seems to be a conflict between Eslint and Prettier rules.

[2020-03-27 11:11] govindsingh55 commented on #16
see the white correct tick is bit visible.

on isDisabled = false , add cursor to the <label></label>

[2020-03-27 11:11] navin-moorthy commented on #16
@govindsingh55 working on adding any of the props as mentioned in the RFC description?

[2020-03-27 11:11] SamrithaS commented on #16
I'm getting the error, yes it's a conflict

[2020-03-27 11:16] govindsingh55 commented on #16
purpose of name and value props?

[2020-03-27 11:17] navin-moorthy commented on #16
you can disable the indent for the whole file. Prettier will do the formatting correctly thereafter

Great catch, seems even in disable state, checked is working. we need to fix this bug.

![image](https://user-images.githubusercontent.com/39694575/77750828-7de0d980-704a-11ea-9551-6a811b4021d9.png)

[2020-03-27 11:18] navin-moorthy commented on #16
Since checkbox is an input field, this should need id, name & value props exposed right?

[2020-03-27 11:21] navin-moorthy commented on #16
Found the answer to fix this issue, Thanks @govindsingh55  for pointing out.
@SamrithaS you can add the disabled prop to our input as

`<VisuallyHidden as="input" type="checkbox" disabled={isDisabled} />`

This is must prop for our input which marks our input to disable and doesn't allow to be checked

[2020-03-27 11:23] SamrithaS commented on #16
I tried doing it like this ` <Icon
          name="customCheck"
          size="10px"
          visibility={isDisabled ? 'hidden' : 'visible'}
        />`

Is this fine? The icon is not shown now

[2020-03-27 11:24] navin-moorthy commented on #16
You can remove visibility, ` <Icon name="customCheck" size="10px" visibility={isDisabled ? 'hidden' : 'visible'} />` and keep it as it is `<Icon name="customCheck" size="10px" />`
and add this
`<VisuallyHidden as="input" type="checkbox" disabled={isDisabled} />`

Better solution

[2020-03-27 11:25] SamrithaS commented on #16
okay

[2020-03-27 11:28] navin-moorthy commented on #16
I will add onBlur, onFocus, onChange, isChecked which is simple 😛
Anyone can take add the rest that they are willing to add.

[2020-03-27 11:39] navin-moorthy commented on #16
Breif steps to add onBlur, onFocus, onChange & isChecked

- Add them to `input` as

[code]
- Define the proptypes for each as

[code]

Also add more examples to try our each seperately

[2020-03-27 11:40] govindsingh55 commented on #16
- the outermost element need an id. that's right.
- defaultChecked to show initially checked
- value of the input will be isChecked

[2020-03-27 11:45] navin-moorthy commented on #16
With value prop in frond end they can get the checked value in form.
defaultIsChecked allows us to change the state later.
But if isChecked is given, you cannot change the state, it is hardcoded

[2020-03-27 11:50] govindsingh55 commented on #16
isChecked will be passed from the parent component and be controlled from the parent, and onChange this value will be changed at the parent lavel.

[2020-03-27 11:55] navin-moorthy commented on #16
Correct, I did not think in that way.
But when we don't need to manipulate with isChecked.
exposing value prop will be useful as native HTML value.
We need both to be exposed.
When we need to take control, we can use isChecked otherwise we just can get the values from `value` prop IMO

[2020-03-27 12:14] navin-moorthy commented on #16
Updated the description till the last commit
https://github.com/timelessco/chakra-components/issues/16#issue-588177808

[2020-03-27 12:28] SamrithaS commented on #16
steps to add defaultIsChecked prop

- Add it to input as
   `
<VisuallyHidden
        as="input"
        type="checkbox"
        defaultChecked={defaultIsChecked}
      />
`
- Define the proptypes as
` defaultIsChecked: PropTypes.bool,`

[2020-03-27 12:52] navin-moorthy commented on #16
I guess everyone is getting the error as shown below in the example

![image](https://user-images.githubusercontent.com/39694575/77757748-c5ba2d80-7057-11ea-95b9-a71d7c7c9974.png)

As said by @govindsingh55 , isChecked should always be used with onChange

I will adjust the example to remove the error.

[2020-03-27 12:57] navin-moorthy commented on #16
I am researching on adding the Storybook to our app.
Anyone can add the rest of the props one by one to our checkbox except isIntermediate and isFullWidth will be challenging.
isInvalid prop can be exposed after adding the accessibility styles

[2020-03-27 12:58] prasanna1211 commented on #16
@navin-moorthy I will add story book before monday. I have an easy way to integrate it.

[2020-03-27 12:59] navin-moorthy commented on #16
Great then, I will continue with the checkbox

[2020-03-27 14:51] navin-moorthy commented on #16
Adding id, name, value prop to support native HTML properties to support Form submission

[code]

Since value can get string or number, I used oneOfType function for value as shown above

[2020-03-27 14:57] navin-moorthy commented on #16
Seems we have black hole inbetween our checkbox icon and string where our cursor disabled is not working.

We can fix that by adding cursor disable to label at the top.

Inorder to add style prop will change the native label to Box as label

[2020-03-30 04:02] prasanna1211 opened #18 "Clean up package.json, readme"
- [ ] Change repository information in package.json
- [ ] Getting started in readme, how to install, how to start, how to contribute

[2020-03-30 05:07] prasanna1211 commented on #12
`npm run start` should start the story book instead of index.js of the app. index.js should be just the root for the npm package.

[2020-03-30 05:08] navin-moorthy commented on #12
Okay I will configure like that

[2020-03-30 06:16] govindsingh55 commented on #16
isIntermediate, isFullWidth, isInvalid, starting working on props.

[2020-03-30 06:20] prasanna1211 commented on #16
Wait. Don't work on checkbox.

[2020-03-30 06:28] prasanna1211 commented on #18
@SamrithaS once you have completed can you raise a Pull request ?

[2020-03-30 06:34] prasanna1211 commented on #16
1. Managing the layout using 'isFullWidth' should be part of the layout on top of checkbox. Only margin / padding can be applied to checkbox as a position prop.
2. I am not sure about the invalid state of a checkbox. When is the checkbox invalid ?

I can get a sense of errored state and errored style that we need to handle.

[2020-03-30 06:39] prasanna1211 commented on #16
Please look at this PR: #20

This shows how I have planned for overriding styles generically for every component.

[2020-03-30 06:40] govindsingh55 commented on #16
checkbox invalid will make the boder of checkbox red like error state do, not sure about the usecase
isFullWidth will result in width="100%", it can also be handled through the width

[2020-03-30 06:41] navin-moorthy commented on #12
Finished adding the storybook to our checkbox component.

[2020-03-30 06:47] navin-moorthy commented on #16
1 - Sandeep said we need to be exposing Chakra props so that we included `isFullWidth`
2- Checkbox will be invalid when submitting a form - https://www.the-art-of-web.com/html/html5-checkbox-required/ - Can be used to indicate the error state if the user did not accept the terms & conditions while submitting

[2020-03-30 06:48] navin-moorthy commented on #16
Correct. Chakra has already exposed it, why should we need to handle it separately @prasanna1211

[2020-03-30 06:51] prasanna1211 commented on #16
I think, it is more of how frequently we use it. If we use it frequently then yes we need to. So we can leave it open in the RFC if we skip it for now.

[2020-03-30 06:53] govindsingh55 commented on #16
we are not directly using the checkbox in our component but we are trying mimic the chakra checkbox implementation so we have to expose the props that we need

[2020-03-30 06:55] navin-moorthy commented on #16
Okay, we will leave it in the RFC. Once the need comes, we can include it.

[2020-03-31 11:02] govindsingh55 commented on #4
@prasanna1211  @navin-moorthy  we gonna to have pseudobox as well right like chakra?

[2020-03-31 11:43] prasanna1211 commented on #4
Not yet decided. If adding psuedo CSS elements is the only advantage then every box might be a psuedo box.

[2020-03-31 12:06] govindsingh55 commented on #4
as of now, I used the chakra Box and exposed all props that can be passed to the chakra Box except **as** props

[2020-03-31 12:07] prasanna1211 commented on #4
Can you raise a PR ? I will be integrating the docs to development completely today.
After which we can start one by one. It is easy to start from then.

[2020-03-31 13:02] navin-moorthy opened #30 "[RFC] Heading and Paragraph Components"
## Intro
![image](https://user-images.githubusercontent.com/39694575/78027071-5c4d5e00-737a-11ea-880c-13de502cdd22.png)
We will be creating the Text component for body1, body2 & body3 as p tag and Heading component for Headings as h1, h2.

## The Goal:
Create `<Text />`,` <Text.Body1 />`, `<Text.Body2 />`, `<Text.Body3 />` for Paragraphs.
Create `<Heading>`, `<Heading.H1 />`, `<Heading.H2 />` for

[2020-03-31 18:56] prasanna1211 commented on #12
Moved to story book with DOCZ library.

[2020-03-31 18:56] #12 closed

[2020-03-31 18:57] #18 closed

[2020-03-31 18:58] prasanna1211 commented on #16
Pending issues to be solved:

- [x] Expose hover, focus, checked style changes as prop that can be customizable
- [x] check icon should be controllable as prop (can be tick or fill or anything)
- [x] Text should always be on the center of the checkbox
- [x] Prop to control the order (Control box and then label (or) label and then control box)
- [x] Double click is creating text highlight

[2020-04-03 05:48] prasanna1211 commented on #30
Closing this. Merged already.

[2020-04-03 05:48] #30 closed

[2020-04-03 05:49] prasanna1211 commented on #4
Closing this as it is merged in #29

[2020-04-03 05:51] #4 closed

[2020-04-03 06:14] prasanna1211 commented on #5
Closing this as it is merged

[2020-04-03 06:14] #5 closed

[2020-04-03 06:24] govindsingh55 opened #40 "[RFC] Button Component"
# INTRODUCTION
Button component based on the Chakra Button component.

## The Goal:
Create `<Button />`,` <Button.Link />`

## Export:

**Component Parts**

* `Button`: Base component using Chakra `Button` Component.
* `Button.Primary`:  `Button.Primary` a button variant.
* `Button.Secodary`:  `Button.Secodary` a button variant.
* `Button.Solid`:  `Button.Solid` a button variant.
* `Button.Outline

[2020-04-03 06:37] prasanna1211 commented on #1
Guys Lets wrap this RFC with Button component. We will create a new RFC for the next set of components. @navin-moorthy @govindsingh55

[2020-04-03 06:38] prasanna1211 commented on #40
Needs more description: Please look into what else can be added from here: https://github.com/timelessco/chakra-components/issues/16

[2020-04-03 06:40] prasanna1211 commented on #40
Few things that can be thought of
1. Pre or post icon in button
2. Pre (or) post preloader
3. Full width buttons
4. Primary and secondary buttons

And there should be a few other things that can be taken from chakra.

[2020-04-03 07:17] navin-moorthy commented on #1
Yeah, we can create new RFC with component centric and explained one.

[2020-04-03 07:18] navin-moorthy commented on #30
If anyone interested, use this RFC template for the new RFC.

[2020-04-03 07:21] navin-moorthy commented on #40
For dot notation, get the inspiration from [Ant Button Design](https://ant.design/components/button/).
Convert their type into our dot notation.

[2020-04-03 07:24] prasanna1211 commented on #40
1. Varient is spelled wrongly
2. I guess it is better to have dot notation for primary, secondary, outline and fullWidth.
3. Button sometimes act as links. That time it should have a <a /> tag and have href to the link url. On clicking it should open in new tab / window.

[2020-04-03 07:31] prasanna1211 commented on #40
Who can start on button component ?

[2020-04-03 07:33] govindsingh55 commented on #40
I started.

[2020-04-03 07:35] prasanna1211 commented on #40
Clear about the props ?

[2020-04-03 07:37] govindsingh55 commented on #40
working on dot notation

[2020-04-03 07:38] prasanna1211 commented on #40
Finalize props on RFC before you start working please.

[2020-04-03 07:48] govindsingh55 commented on #40
dot notation should be for varient or primary, secodary ?

[2020-04-07 10:56] #1 closed

[2020-04-07 10:56] #16 closed

[2020-04-07 10:56] #40 closed

[2020-04-07 11:40] navin-moorthy opened #42 "[RFC] Molecule - Navbar"
This issue will serve as a starter to understand the molecule development. We will be building a Navbar.

## The Goal:
Build a Navbar with Chakra Components

## Import
Component Parts:

* Navbar: The wrapper that provides the context and functionalities (Box as nav)
* NavbarContainer: The Navbar Container to decide on the height, max-width, flex properties, margin & padding for the Nav Items. (Fle

[2020-04-07 12:06] prasanna1211 commented on #42
1. Should we change the composition in responsiveness ?
2. What props does each atom would hold ? That determines how flexible it is.
3. Can NavItem be a dropdown ?

[2020-04-07 12:12] govindsingh55 commented on #42
NavItem will provide a PseudoBox, it can have children as string or component like Link, Menu or Dropdown.

[2020-04-07 12:12] sandeepprabhakaran commented on #42
`NavbarContainer: The Navbar Container to decide on the height, max-width, flex properties, margin & padding for the Nav Items. (Flex)
NavbarItem: List of items inside the container (Box)
NavbarBrand: Slot to container the brand Image, Icon, text or Icon with text. (Box)`

I'd like to propose a NAV component first, because a nav can exist outside of a navbar. There can be a vertical variant of a n

[2020-04-07 12:14] sandeepprabhakaran commented on #42
We can call it a menu component too, it's essentially a menu of choices. Good example with variants: https://ant.design/components/menu/

[2020-04-07 12:17] navin-moorthy commented on #42
why do we need to change the composition in responsiveness?

Lets take
<Navbar> - can have, bg, color.
<NavbarContainer> - can have maxWidth, height of the whole navbar layout.

Am I going in the right direction?

Yeah, it can be. But that dropdown can be a separate Dropdown component which we will build.

[2020-04-07 12:18] navin-moorthy commented on #42
Like this - https://react-bootstrap.github.io/components/navs/
Same like - https://ant.design/components/menu/

We can have a separate Menu Component with Menu Item in it.

[2020-04-07 12:22] prasanna1211 commented on #42
1. Not yet very clear how it would look responsively. In lower screen-sizes will it become a hamburger which when clicked opens the menu ?
2. If the navbar item is a dropdown then how it is going to be behaving in responsive screen sizes ? As the normal way of having sub menus ?  (same like what [this](https://ant.design/components/menu/) does) ?

[2020-04-07 12:24] govindsingh55 commented on #42
<NavbarCollapse> just defines that which set navItem to collapsable. we need to have one more sub-component which resposible for hamburger icon(or any other) and its position in navbar.

Or it can just be a navItem that changes the collapse state

[2020-04-07 12:26] prasanna1211 commented on #42
@govindsingh55 Can you write the psuedo code in here in case of responsive navbar ?

[2020-04-07 12:27] prasanna1211 commented on #42
@navin-moorthy can we open a RFC for menu ?

[2020-04-07 12:27] govindsingh55 commented on #42
[code]

[2020-04-07 12:28] govindsingh55 commented on #42
this what I had composed previously.

[2020-04-07 12:29] navin-moorthy commented on #42
Navbar Collapse can have hamburger menu on right or left, that will change the state of the responsiveness.

We will have the items that will get collapsed in NavbarCollapse when in mobile.

![image](https://user-images.githubusercontent.com/39694575/78669144-70a0d600-78f9-11ea-87b3-d1640968a1fe.png)

Like from popover state in large screens to inline state in smaller screen.

[2020-04-07 12:31] prasanna1211 commented on #42
I have read this component and sorry I cannot get the answer from that chunk. My question was little different. "How will the code look like when it is in desktop and in mobile. Will it be the same (or) will it be different? If different can you just mention how the atoms will be composed ?"

[2020-04-07 12:34] prasanna1211 commented on #42
Yes getting it now. So ideally the code is not going to change right ?
Also you have mentioned if we want dropdowns we need to use our custom dropdown. But in case of responsive screen how the Dropdowns will get converted to sub menus like this ?

[2020-04-07 12:38] navin-moorthy commented on #42
When the state changes to mobile, items can become full width.

Yeah, we can convert the dropdowns to sub menus which we can compose it in dropdown for this behaviour. What do you say?

[2020-04-07 12:39] navin-moorthy commented on #42
Is this reply & questions to @govindsingh55 component? confused

[2020-04-07 12:40] prasanna1211 commented on #42
Yes, @govindsingh55 's code.

[2020-04-07 12:40] prasanna1211 commented on #42
I can get the end goal, but not sure how to achieve it. Probably we can rethink about this once we finish Menu component first.

[2020-04-07 13:19] navin-moorthy opened #43 "[RFC] Atom - Menu"
This will be a basic component with Menu and its items

## The Goal:
To serve as the good navigation component for Navbar.

## Key Features:

- Responsiveness
- Menu Items with Icon & Text
- Menu Items can be dropdown

## Import
Component Parts:

* Menu - Wrapper for Menu
* MenuItem - Items of Menu

## Usage
[code]

The Select should also be able to render an option group. If passed
`isDisabled`,

[2020-04-07 13:51] navin-moorthy commented on #43
Can we have all the props as in https://ant.design/components/menu/ ?

[2020-04-07 16:46] prasanna1211 commented on #43
1. `Items can be a dropdown`, I think that is must. Dropdown shouldn't be a children. That is it shouldn't be something like
[code]

Instead it should be
[code]

Reason is that, if it is a children the composition would change for dropdown in smaller screens. You might have to use ul li to manage the list.

Whereas in the second option when `type="dropdown"` is passed in as a context, the NavItemO

[2020-04-08 09:30] govindsingh55 commented on #43
Chakra MenuList is always being rendered in Popover so
- we can`t directly use the chakra menu (if we want MenuList to be collapse-expandable)
- to get the collapse-expandable behavior MenuList(chakra internal code) modification is required.

[2020-04-08 09:35] prasanna1211 commented on #43
Our menu is different from their menu. Ours is a kind of nav component that creates a list of navitems. Our nav item can be a Chakra Menu (or) a simple navigatable ul li's. For now we can use their chakra menu to be our nav item in case if our submenu is of type dropdown.

[2020-04-08 09:39] govindsingh55 commented on #43
modification is required. have to put a condition whether the return will be popover MenuList or Collapsable MenuList

[2020-04-08 09:43] prasanna1211 commented on #43
Collapsible is not a case for desktop screen. Lets make a desktop version where there can be just two types.

1. type = 'dropdown' - which can open sub nav items that can be a simple nav item.
2. type = 'nav' - which is a direct nav item.

By nav item I mean once clicked can navigate you through a route. It will have onActionProp.

[2020-04-08 09:45] govindsingh55 commented on #43
NavItem is just a container that can receive children like Link, string, button, icon, menu or any other composition.
so type is not required I think for NavItem

[2020-04-08 09:47] prasanna1211 commented on #43
ok, for desktop it is not needed. But for mobile it will be needed. Ignore for it now.

[2020-04-08 11:34] sandeepprabhakaran commented on #43
Desktop version can also have a collapsible menu type. We should think about the use case like this:
[code]

[2020-04-08 11:44] prasanna1211 commented on #43
@sandeepprabhakaran In that case we would be having to write two different children, one for responsive and another for desktop ?

[2020-04-08 11:53] sandeepprabhakaran commented on #43
Can you explain why that's required? Pretty much every Navitem will be collapsed on responsive, only that there can be two levels.
`Collapsed nav ... <NavItem> ... <SubNavItem>`

So in that sense we know which Menus will go one level deep or two level deep. Right?

[2020-04-08 12:12] prasanna1211 commented on #43
I will explain the case clearly.

The ideal way that we are looking is to have a desktop version something like this

![image](https://user-images.githubusercontent.com/17434647/78781892-acea3a00-79be-11ea-9760-dcdd4671b27d.png)

The Code would look like

[code]

To achieve the same thing with chakra Menu as a NavItem, the code would be looking like

[code]

**On Desktop screen [Works fine]**

<im

[2020-04-09 05:39] navin-moorthy commented on #43
Just like this

![image](https://user-images.githubusercontent.com/39694575/78861343-33039080-7a52-11ea-939f-7d70667e0a08.png)

We can have our Link component with NavItem since it will be a Box Components right?
Do we need `type` props?

I think it's best to compose our own submenu component to tackle the responsiveness.

[2020-04-21 06:22] govindsingh55 opened #51 "[RFC] combobox component"
### The Goal:
Create a Combobox component that can works single and multiple select options

Some key resource and reference:

https://www.w3.org/TR/wai-aria-practices-1.2/#combobox
https://reacttraining.com/reach-ui/combobox/
https://github.com/downshift-js/downshift

<img width="552" alt="Screenshot 2020-04-21 at 11 51 39 AM" src="https://user-images.githubusercontent.com/25248526/79832209-8ff23

[2020-04-22 09:36] navin-moorthy commented on #43
**Note-** Updated the Description

**Pending Features**
- Handle body scroll locking when content overflows
- Mobile Menu

[2020-04-23 07:02] prasanna1211 opened #52 "Proposed COMBOBOX RFC [WIP]"
**Definitition:**
A Combo Box [CB] is an input widget with an associated popup that enables users to select a value for the combobox from a collection of possible values

**Combo Box [CB] vs List Box [LB]**
LB is simply a list of items, while a CB is a combination of a List box and an input that can be edited

**Variations based on ARAI Guidelines**

**No autocomplete**: The combobox is editable,

[2020-04-23 07:36] navin-moorthy commented on #52
Okay, I went through all the types of Combo-Box and their examples in WAI-ARIA practices.
Aren't going to do the basic select where the Combo-Box is not editable just shows the listbox to select any option(like a native select)?

Like: A basic single select in https://react-select.com/home

![react-select](https://user-images.githubusercontent.com/39694575/80072265-9ff34c00-8563-11ea-90f4-a3c1a8c2

[2020-04-23 08:07] sandeepprabhakaran commented on #52
Happy to get on a call to describe the feature set I'm after.

[2020-04-23 09:07] sandeepprabhakaran commented on #52
Features required:
Ideal if we could achieve combobox + listbox behavior in a single component (ref downshift useselect) if not it's okay to have to components.

Definitely building 'dialog' variant.

1. Searchable
2. Autocomplete (by highlighting first result by default)
3. Clearable
4. API fetchable
5. Disabled
6. Multiselect
7. Keyboard shortcuts (basic)
8. Style-able / Composable with children

[2020-04-23 10:06] navin-moorthy commented on #52
@prasanna1211, I think you might have missed the `Right Key` navigation support.

| Keyboard   | Behaviour                                                           |
|------------|---------------------------------------------------------------------|
| Right Arrow | Focus to input without closing popup and handle cursor              |

https://www.w3.org/TR/wai-aria-practices/examples/combobox/ar

[2020-04-23 13:29] navin-moorthy commented on #52
See Material UI - https://material-ui.com/components/autocomplete/
They have better combo-box too.

[2020-04-27 08:31] navin-moorthy commented on #52
Should we always need react-window to render the options?
Like whatever be the no. of options.
What if the no. of options are less than 10.

[2020-04-27 08:32] prasanna1211 commented on #52
@navin-moorthy  Not necessarily only if the results are large. Need to have a hard limit.

[2020-04-27 08:35] navin-moorthy commented on #52
This is the default behavior of [Popper](https://popper.js.org/docs/v2/modifiers/flip/), I guess we don't need to do anything for dynamic positioning.

[2020-04-27 08:36] navin-moorthy commented on #52
Okay, got it.

[2020-04-27 08:36] prasanna1211 commented on #52
@navin-moorthy Yes, our component should use Popper JS. That is the implication of that behaviour.

[2020-04-27 08:38] navin-moorthy commented on #52
Clear

[2020-04-28 08:08] #51 closed

[2020-04-28 08:16] prasanna1211 opened #54 "use-select tweaks"
@navin-moorthy Add anything that you require on `use-select` here. I will start tweaking it properly

Combobox
- [x] Scroll to selected item when opened. The selected item should be the first element in the popup
- [x] All options should be present when we first open the select [key]
- [x] On type scroll to the matching element and keep it at the top. Even though this will be by default, due to [k

[2020-04-28 13:21] navin-moorthy commented on #54
@prasanna1211 I need the use-select to expose inputRef so that popper can use it as the anchorEl.

[2020-04-29 04:55] prasanna1211 commented on #54
@navin-moorthy I have fixed the use select to work with combobox. Updated the [codepen](https://codesandbox.io/s/quiet-butterfly-3z1qh) of whatever present in my local use select version.

Fixes whatever is checked above.

[2020-04-30 13:21] prasanna1211 opened #59 "[Bug/Feature Tracker] ComboBox"
As per #52 , needs following features

**General behaviours**

- [x] Option needs to be composable (Custom renderer)
- [x] Tweak on closing popper when not needed (doubt)
- [x] Flickering with ScrollToItem after selecting an option
- [x] Check on the exact disabled state for the options in listbox like our current implementation or the react-select one. (Not possible with current use Select implem

[2020-04-30 13:22] prasanna1211 commented on #54
Closing this since it got cherry picked.

[2020-04-30 13:22] #54 closed

[2020-05-15 09:07] prasanna1211 commented on #59
Adding a set of issues here.

First one being, I think list box shouldn't have close button.

![image](https://user-images.githubusercontent.com/17434647/82032941-a5066f80-96b9-11ea-86da-fb8721b961a4.png)

[2020-05-15 09:22] prasanna1211 commented on #59
For pointer hover, cursor should be pointer for close button right ?

[2020-05-15 09:26] navin-moorthy commented on #59
As per the standard there is no close button for combo-box, it's part of UX I guess.
May we can make it hide with props if they don't want or by default it will be hidden and can have it with props

[2020-05-15 09:26] prasanna1211 commented on #59
When the value is not a valid option's value, the component shouldn't break. Instead no option should be selected.

![image](https://user-images.githubusercontent.com/17434647/82034698-2a8b1f00-96bc-11ea-93cb-bcf7f7e7399a.png)

[2020-05-15 10:08] prasanna1211 commented on #59
Not a bug: A little confusion in behaviour of listbox. When we type then, choose the dropdown closes. If we type when it is still focused, the value changes. This happens in native select box too. But never seen it in the accessibility docs.

[2020-05-15 10:19] prasanna1211 commented on #59
In async while we type, pressing enter clears the text. Intended ?

[2020-05-15 11:24] prasanna1211 commented on #59
There are a few open source standards that we generally do, even at times when certain things are obvious to avoid breaking the code. These are done generally when typescript is not used.

1. Type check once, for every function by `typeof x == 'function'`. Example, this shouldn't be an error. Instead a default filter function should load.
![image](https://user-images.githubusercontent.com/17434647

[2020-05-15 11:35] prasanna1211 commented on #59
I think Pressing space bar when the input is empty needs a different behaviour. Currently it treats as a space which generally not used to be the case. react select, selects the first option when the dropdown is open and the space bar is pressed.

[2020-05-15 16:13] navin-moorthy opened #64 "[ComboBox] ListBox shouldn't have a close button"
@prasanna1211 thinks list box shouldn't have close button.

![image](https://user-images.githubusercontent.com/17434647/82032941-a5066f80-96b9-11ea-86da-fb8721b961a4.png)

Originally posted at [issue](https://github.com/timelessco/chakra-components/issues/59#issuecomment-629124131)

[2020-05-15 16:14] navin-moorthy commented on #64
As per the standard there is no close button for combo-box, it's part of UX I guess.
May we can make it hide with props if they don't want or by default it will be hidden and can have it with props

https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html

[2020-05-15 16:18] navin-moorthy opened #65 "[ComboBox] Change close button cursor from default to pointer"
For pointer hover, cursor should be pointer for close button right ?

Orginally posted at [issue](https://github.com/timelessco/chakra-components/issues/59#issuecomment-629130697)

[2020-05-15 16:22] navin-moorthy commented on #65
I got the inspiration from react-select, they don't change the cursor from default.
Personally I feel, this is good and feels like the whole component is one.
Planned to change the close button on Multi-Select Tag component to `cursor: default`
Let me know your views.

[2020-05-15 16:25] navin-moorthy opened #66 "[ComboBox] Component breaks with invalid value"
When the value is not a valid option's value, the component shouldn't break. Instead no option should be selected.

![image](https://user-images.githubusercontent.com/17434647/82034698-2a8b1f00-96bc-11ea-93cb-bcf7f7e7399a.png)

Originally posted at [issue](https://github.com/timelessco/chakra-components/issues/59#issuecomment-629132567)

[2020-05-15 16:30] navin-moorthy opened #67 "[ComboBox] ListBox values changes as we type when dropdown closed"
Not a bug: A little confusion in behaviour of listbox. When we type then, choose the dropdown closes. If we type when it is still focused, the value changes. This happens in native select box too. But never seen it in the accessibility docs.

Originally posted at [issue](https://github.com/timelessco/chakra-components/issues/59#issuecomment-629151152)

[2020-05-15 16:32] navin-moorthy commented on #67
This feature was requested by @sandeepprabhakaran
![image](https://user-images.githubusercontent.com/39694575/82073962-a35b9c80-96f7-11ea-8453-03a47de7b71a.png)

As per the [Reach-UI's Listbox](https://reacttraining.com/reach-ui/listbox/) implementation

[2020-05-15 16:35] navin-moorthy opened #68 "[ComboBox] Pressing enter when fetching option clears text in async"
In async while we type, pressing enter clears the text. Intended ?

Originally posted at [issue](https://github.com/timelessco/chakra-components/issues/59#issuecomment-629156213)

[2020-05-15 16:38] navin-moorthy opened #69 "[ComboBox] Type Fixes in component"
There are a few open source standards that we generally do, even at times when certain things are obvious to avoid breaking the code. These are done generally when typescript is not used.

1. Type check once, for every function by `typeof x == 'function'`. Example, this shouldn't be an error. Instead a default filter function should load.
![image](https://user-images.githubusercontent.com/17434647

[2020-05-15 16:40] navin-moorthy opened #70 "[ComboBox] Options gets filtered when pressing spacebar"
I think Pressing space bar when the input is empty needs a different behaviour. Currently it treats as a space which generally not used to be the case. react select, selects the first option when the dropdown is open and the space bar is pressed.

Originally posted at [issue](https://github.com/timelessco/chakra-components/issues/59#issuecomment-629185962)

[2020-05-15 16:44] navin-moorthy commented on #59
Closing this in favour of now individual issues being created.

[2020-05-15 16:44] #59 closed

[2020-05-18 05:55] navin-moorthy opened #71 "[ComboBox] ListBox selects the disabled values"
When the dropdown is not active, listbox selects the disabled values too

[2020-05-18 06:03] navin-moorthy opened #72 "[ComboBox] Better solution to get default options"
When default options are provided but only `defaultOption={true}`

![image](https://user-images.githubusercontent.com/39694575/82179102-239e1f80-98fb-11ea-90d9-24f8db83bbbd.png)

Need a link to fetch the default options which should have all the available options

[2020-05-18 12:00] navin-moorthy opened #74 "[ComboBox] Focused index not properly configured fron `isAsync`"
After the async success, new options are fetched and the selected index and highlighted index where having problem not being in sync

[2020-05-18 12:09] #74 closed

[2020-05-18 12:09] #66 closed

[2020-05-18 12:28] #68 closed

[2020-05-18 14:33] navin-moorthy commented on #70
Fixed in [Commit](https://github.com/timelessco/chakra-components/pull/63/commits/c7343d9a51c0d66d6a74d614b5e41f24a648bea8)

[2020-05-18 14:34] navin-moorthy commented on #70
![image](https://user-images.githubusercontent.com/39694575/82225326-aeeed380-9942-11ea-9a7d-75970fd5896e.png)

[2020-05-18 14:36] navin-moorthy commented on #70
Left some detailed comments here and there to understand the motive of the code starting today.
Even I forgot the motive of adding why some lines of code was written.

[2020-05-18 14:36] #70 closed

[2020-05-19 06:44] navin-moorthy opened #76 "[ComboBox] `isMulti` selectedOptions not filtered properly"
![image](https://user-images.githubusercontent.com/39694575/82293485-3df2fe80-99ca-11ea-8302-2b211c7b152c.png)

[2020-05-19 06:46] navin-moorthy commented on #76
Fixed in https://github.com/timelessco/chakra-components/pull/63/commits/deb45a6655c3074f76cdf03aeb13f60277ac61d2

[2020-05-19 06:46] #76 closed

[2020-05-19 06:53] navin-moorthy commented on #64
@prasanna1211 and @sandeepprabhakaran
Let me know your thoughts on this.
Hover over close button,
1. cursor: default OR
2. cursor: pointer

[2020-05-19 06:54] navin-moorthy commented on #65
@prasanna1211 and @sandeepprabhakaran
Let me know your thoughts on this.
Hover over close button,
1. cursor: default OR
2. cursor: pointer

[2020-05-19 06:57] navin-moorthy commented on #64
@prasanna1211 and @sandeepprabhakaran Do we need close button on the listbox?
In my opinion, we can have it, or make it as prop to show or hide.

[2020-05-19 06:59] prasanna1211 commented on #64
With props, yes I think.

[2020-05-19 07:00] prasanna1211 commented on #65
Again one such [discussion](https://twitter.com/deSolidState/status/1261431649813708800): . For me pointer is fine personally.

[2020-05-19 07:08] navin-moorthy commented on #65
Okay, lets get a word from Sandeep aswell before changing.

[2020-05-19 07:24] navin-moorthy commented on #71
ListBox will just ignore the disabled values whent the inputValue changes.
Selects only the valid values.

[2020-05-19 07:24] #71 closed

[2020-05-19 07:32] navin-moorthy commented on #67
@prasanna1211 what's your thought on this?
This was implemented as per the [Reach-UI's Listbox](https://reacttraining.com/reach-ui/listbox/) implementation.

[2020-05-19 08:14] navin-moorthy commented on #69
Should we type check every props we get from outside the components?
![image](https://user-images.githubusercontent.com/39694575/82302132-cd9eaa00-99d6-11ea-873f-85a9b50a3529.png)

[2020-05-19 09:04] navin-moorthy commented on #69
For options,
I have checked if the given options are Array of Object,
![image](https://user-images.githubusercontent.com/39694575/82307186-9f709880-99dd-11ea-816d-a299dcc4ecca.png)

I think it's the responsibility of those who use the component to give a valid opitons.
Now the component doesn't break on invalid values

[2020-05-19 09:10] prasanna1211 commented on #69
Yes, I agree with that. Just that ensure functions are covered for cases that don't break the component.

[2020-05-19 09:11] navin-moorthy commented on #69
Sure, I am checking all the where the component can break because of the types and fixing it.

[2020-05-19 09:52] navin-moorthy commented on #69
As per my knowledge, I have fixed most of the cased except for the below props,
![image](https://user-images.githubusercontent.com/39694575/82312255-6daf0000-99e4-11ea-8320-1b46ce45ed21.png)

I will keep this issue and pull request open until I write the docs and write examples using the above props.

[2020-05-19 10:57] navin-moorthy opened #79 "[ComboBox] Docs: Write better docs with examples"
Issue to discuss if anything is missed in the docs

[2020-05-20 07:29] navin-moorthy commented on #79
Planning to create an example like below all behaviors in one component with checkboxes.
![image](https://user-images.githubusercontent.com/39694575/82417533-4fefa280-9a99-11ea-9c2c-079fbb0eaa7c.png)

To create this I need the changes done to [Type Check PR](https://github.com/timelessco/chakra-components/issues/69).

@prasanna1211 Need confirmation if the above PR needs your review or I can merge

[2020-05-20 09:12] navin-moorthy commented on #79
Any further improvements to the docs will use this issue as a reference.

[2020-05-29 02:27] #69 closed

[2020-05-29 02:28] #79 closed

[2020-05-29 02:53] navin-moorthy opened #83 "[Multiselect] Create Storybook"
Storybook to showcase Multiselect component